.v-col1, .v-col1-h{
    width: 8.33%;
}
.v-col2, .v-col2-h{
    width: 16.66%;
}
.v-col3, .v-col3-h{
    width: 25%;
}
.v-col4, .v-col4-h{
    width: 33.33%;
}
.v-col5, .v-col5-h{
    width: 41.66%;
}
/* This column is probably made for seprating the content into several parts */
.v-col6, .v-col6-h{
    width: 50%;
}
.v-col7, .v-col7-h{
    width: 58.33%;
}
.v-col8, .v-col8-h{
    width: 66.66%;
}
.v-col9, .v-col9-h{
    width: 75%;
}
.v-col10, .v-col10-h{
    width: 83.33%;
}
.v-col11, .v-col11-h{
    width: 91.66%;
}
.v-col12, .v-col12-h{
    width: 100%;
}
.row{
    width: 100%;
}
.v-col1, .v-col2, .v-col3, .v-col4, .v-col5, .v-col6, .v-col7, .v-col8, .v-col9, .v-col10, .v-col11, .v-col12, .v-col1-h, .v-col2-h, .v-col3-h, .v-col4-h, .v-col5-h, .v-col6-h, .v-col7-h, .v-col8-h, .v-col9-h, .v-col10-h, .v-col11-h, .v-col12-h, .row{
    float: left;
} 
.footer, .push{
    height: 150px;
}
.wrapper{
    min-height: 100%;
    margin-bottom: -150px;
}
.test{
    
}



@media only screen and (max-width: 1000px) {
    .v-col1-h, .v-col2-h, .v-col3-h, .v-col4-h, .v-col5-h, .v-col6-h, .v-col7-h, .v-col8-h, .v-col9-h, .v-col10-h, .v-col11-h, .v-col12-h{
        display: none;
    } 
}

@media only screen and (max-width: 325px) {
    .v-col1, .v-col2, .v-col3, .v-col4, .v-col5, .v-col6, .v-col7, .v-col8, .v-col9, .v-col10, .v-col11, .v-col12{
        width: 100%;
    } 
}










