.vcol1{
    width: 8.33%;
}
.vcol2{
    width: 16.66%;
}
.vcol3{
    width: 25%;
}
.vcol4{
    width: 33.33%;
}
.vcol5{
    width: 41.66%;
}
.vcol6{
    width: 50%;
}
.vcol7{
    width: 58.33%;
}
.vcol8{
    width: 66.66%;
}
.vcol9{
    width: 75%;
}
.vcol10{
    width: 83.33%;
}
.vcol11{
    width: 91.66%;
}
.vcol12{
    width: 100%;
}
.vcol1, .vcol2, .vcol3, .vcol4, .vcol5, .vcol6, .vcol7, .vcol8, .vcol9, .vcol10, .vcol11, .vcol12, .row{
    float: left;
} 
.footer, .push{
    height: 150px;
}
.wrapper{
    min-height: 100%;
    margin-bottom: -150px;
}

@media only screen and (max-width: 1350px) {
}
@media only screen and (max-width: 1150px) {
}
@media only screen and (max-width: 950px) {
}
@media only screen and (max-width: 850px) {
}
@media only screen and (max-width: 750px) {
}
@media only screen and (max-width: 650px) {
}
@media only screen and (max-width: 550px) {
}
@media only screen and (max-width: 450px) {
}
@media only screen and (max-width: 350px) {
}
@media only screen and (max-width: 200px) {
}








